* {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
	background-color: #1a1a1a;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.login-container {
	background-color: #2d2d2d;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	padding: 40px;
	width: 350px;
	max-width: 90%;
	text-align: center;
}

.login-container h2 {
	margin-bottom: 20px;
	color: #ffffff;
}

.login-container p {
	margin-bottom: 20px;
	color: #ccc;
}

.login-input {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #444;
	border-radius: 5px;
	background-color: #333;
	color: #ffffff;
}

.login-button {
	width: 50%;
	padding: 10px;
	background-color: #4CAF50;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.login-button:hover {
	background-color: #45a049;
}